.containerNumero {
  height: 270px;
  width: 70px;
  min-width: 3;
  position: relative;
  margin: 0px 25px;
}
.ladoNumero {
  position: absolute;
  width: 60px;
}
.ladoNumero[data-ativo = '1'] path {
  fill: #fff;
  z-index: 9;
}
.ladoNumero[data-ativo = '1'] {
  filter:
    drop-shadow(0px 0px 5px #ff00fd)
    drop-shadow(0px 0px 10px #ff00fd)
    drop-shadow(0px 0px 20px #ff00fd);
}
.ladoNumero[data-ativo = '0'] path {
  fill: #000;
}
.noventaGraus {
  transform: rotate(90deg);
}


/* #region Posicionamento lados do numero do relógio */
.celulaSuperior {
  top: 45px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.celulaSuperiorEsquerda {
  top: 82px;
  left: -35px;
}
.celulaSuperiorDireita {
  top: 82px;
  right: -35px;
}
.celulaCentro {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.celulaInferiorEsquerda {
  bottom: 82px;
  left: -35px;
}
.celulaInferiorDireita {
  bottom: 82px;
  right: -35px;
}
.celulaInferior {
  bottom: 45px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* #endregion */

/* #region Dois pontos */
.containerDoisPontos {
  height: 270px;
  width: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ponto {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
/* #endregion */

/* #region Palavras do contador */
.spanFaltam {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 7px;
  display: inline-block;
  text-align: center;
  text-shadow: 0px 0px 10px #ff00fd,
               0px 0px 20px #ff00fd,
               0px 0px 40px #ff00fd,
               0px 0px 80px #ff00fd;
}

.containerTextoContador {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 4px;
  text-shadow: 0px 0px 10px #ff00fd,
               0px 0px 20px #ff00fd,
               0px 0px 40px #ff00fd,
               0px 0px 80px #ff00fd;
}
/* #endregion */