.containerNumero {
  height: 300px;
  width: 100px;
  min-width: 3;
  position: relative;
  margin: 0px 10px;
}
.ladoNumero {
  position: absolute;
  width: 90px;
}
.ladoNumero path {
  fill: #fff;
}
.noventaGraus {
  transform: rotate(90deg);
}

/* #region Posicionamento lados do numero do relógio */
.celulaSuperior {
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.celulaSuperiorEsquerda {
  top: 82px;
  left: -45px;
}
.celulaSuperiorDireita {
  top: 82px;
  right: -45px;
}
.celulaCentro {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.celulaInferiorEsquerda {
  bottom: 82px;
  left: -45px;
}
.celulaInferiorDireita {
  bottom: 82px;
  right: -45px;
}
.celulaInferior {
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* #endregion */

/* #region Dois pontos */
.containerDoisPontos {
  height: 340px;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.ponto {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}
/* #endregion */