.containerApresentacaoHome {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerEfeitoFundo {
  height: 90vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}