.containerApresentacaoHome {
  position: relative;
  min-height: 84vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerEfeitoFundo {
  height: 90vh;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  position: absolute;
  top: 0;
  left: 0;
}
.containerContador {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}